/* style.css */
body {
  font-family: 'Meiryo',-apple-system,'BlinkMacSystemFont',
               '.SFNSDisplay-Regular','Hiragino Kaku Gothic Pro',
               'Yu Gothic','MS PGothic','Segoe UI','Verdana',
               'Helvetica','Arial',sans-serif;
}

table {
  border-collapse: collapse;
  margin-left: 50px;
}

th {
  background-color: whitesmoke;
}

td, th {
  border: 1px solid lightgray;
  padding: 10px;
}

strong.strongest {
  color: red;
}

strong.weakest {
  color: blue;
}

/* 属性の色(空白スペースの背景色として使用 */
.attr_red {
  background-color: red;
}
.attr_blue {
  background-color: blue;
}
.attr_green {
  background-color: green;
}

.attr_yellow {
  background-color: yellow;
}

.attr_purple {
  background-color: purple;
}

.ur {
  background-color: gold;
}